.allergy-card {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: rgba(238, 237, 237, 0.904);
  border-radius: 8px;
  align-items: center;
}

.delete-allergy {
  margin-left: 0.5rem;
  border: none;
  background: transparent;
}

.delete-allergy:hover {
  background-color: rgb(228, 228, 228);
  border-radius: 4px;
}