.card-container {
    background-color: rgba(238, 237, 237, 0.904);
    border-radius: 10px;
    width: 400px;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid rgb(204, 204, 204);
}

.ingredient-name h4 {
    text-align: center;
    margin-bottom: 0.5rem;
}

.ingredients li {
    background-color: #fefefe;
    margin-bottom: 8px;
    padding: 0.5rem;
    border-radius: 4px;
}

@media screen and (min-width: 360px) {
    .card-container {
        width: 100%;
    }
}

