.card-container {
    background-color: #F7F9FB;
    border-radius: 10px;
    width: 100%;
    padding: 1rem;
    border: 1px solid #d0d5db96;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06); /* Shadow 0px right 2px down 4px blur*/
}

.category {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
}

.ingredients li {
    background-color: #FEFFFF;
    margin-bottom: 8px;
    padding: 0.5rem;
    border-radius: 4px;
    list-style: none;
    font-weight: 500;
}

.delete-btn:hover {
    background-color: rgb(228, 228, 228);
    border-radius: 4px;
    /* padding: 0.1rem; */
}

.ingredient-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 0.5rem;
    border: 1px solid #d0d5db96;
}

.ingredient-row > span {
    flex: 1;
    min-width: 0;
}

.ingredient-row:last-child {
    margin-bottom: 0;
}

.edit-btn, .delete-btn {
    background: transparent;
    border: none;
    box-sizing: border-box;
}

.input-btns {
    display: flex;
    flex-shrink: 0;
    gap: 0.25rem;
}
.delete-btn:hover, .edit-btn:hover {
    background-color: #e0e0e0;
    border-radius: 50px;
}

.input-ingredient {
    width: 100%;
    box-sizing: border-box;
}

.ingredient-text {
    display: block;
    width: 100%;
    padding: 0.25rem;
    border: 1px solid transparent;
    background: transparent;
}

.save-btn, .cancel-btn {
    background: transparent;
    border: none;
}

.save-btn:hover {
    color: white;
    border-radius: 50px;
    background-color: #4caf50;
}

.cancel-btn:hover {
    background-color: #f44336;
    color: white;
    border-radius: 50px;
}

.category-header {
    cursor: pointer;
    user-select: none;
    display: flex;
    /* justify-content: space-between; */
    margin-top: 0.25rem;
    margin-bottom: 0.75rem;
    transition: background-color 0.2s ease;
}
.left {
    flex: 1;
}

.right {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.expand-icon {
    font-size: 0.875rem;
    color: #666;
}

.category-content {
  max-height: 1000px; 
  opacity: 1;
  transition: max-height 0.3s ease-out;
  overflow: hidden;
}

.category-content.collapsed {
  max-height: 0;
}




