.card-container {
    background-color: rgba(238, 237, 237, 0.904);
    border-radius: 10px;
    width: 100%;
    padding: 1rem;
    border: 1px solid rgb(204, 204, 204);
}

.category {
    text-align: center;
    margin-bottom: 0.5rem;
}

.ingredients li {
    background-color: #fefefe;
    margin-bottom: 8px;
    padding: 0.5rem;
    border-radius: 4px;
    list-style: none;
}
