.recipe-modal-backdrop {
  position: fixed;
  inset: 0; /* Backdrop covers starting from each corner of the screen */
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.recipe-modal {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 12px;
  padding: 1.25rem;
  margin: 1.25rem;
  max-width: 600px;
  max-height: 90vh;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-y: scroll; 
  position: relative;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  overflow-x: hidden;
}

.recipe-modal div:not(:first-child)  {
  margin: 1rem 0;
}

.recipe-modal::-webkit-scrollbar {
  display: none;
}

.recipe-modal h3 {
  font-size: 1.05rem;
}

.recipe-modal ul, .recipe-modal p {
  color: rgba(34, 34, 34, 0.918);
  list-style-type: none;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25rem;
}

.close-btn {
  cursor: pointer;
  font-size: 1.5rem;
  color: black;
  transition: color 5s ease-in-out;
}

.close-btn path {
  transition: color 0.15s ease-in-out;
}

.close-btn:hover path {
  color: rgba(20, 20, 20, 0.65); 
}

.modal-img {
  object-fit: cover;
  max-width: 560px;
  border-radius: 8px;
  aspect-ratio: 4 / 3;
}

.modal-steps {
  margin-left: 1rem;
}
