.ingredients-container {
    padding: 3rem clamp(1.5rem, 0.408rem + 4.66vw, 6rem); /* Smaller padding for all screens */
    margin: 0 auto;
    max-width: 1400px;
}

/* Optional: tweak for larger screens
@media screen and (min-width: 768px) {
    .ingredients-container {
        padding: 3rem 4rem;
    }
}

@media (min-width: 1024px) {
    .ingredients-container {
        padding: 3rem 6rem;
    }
} */

@media screen and (min-width: 432px) {
    .ingredient-form {
        display: flex;
    }
}

.ingredients-container>h3 {
    font-size: 2rem;
    margin-bottom: 0.7rem;
}

.input-container {
    margin-bottom: 1.25rem;
}

.ingredient-form {
    gap: 10px;
}

.ingredient-add {
    width: 100%;
    padding: 0.5rem 0.75rem;
    border-radius: 6px;
    border-color: rgb(204, 204, 204);
    border-style: solid;
    font-weight: 500;
    border-width: 1px;
}

/* doesn't work */
.ingredient-add:focus {
    border-color: rgb(103, 150, 212);
    border-style: solid;
}

.ingredient-submit {
    padding: 0.25rem 4rem;
    max-width: 150px;
    background-color: #2F975D;
    color: rgb(250, 250, 250);
    border: none;
    border-radius: 6px;
    font-size: 0.875rem;
    font-weight: 700;
}

.ingredient-submit:hover {
    background-color: #32a867;
    transition: background-color 0.3s;
}

.categories {
    display: flex;
    gap: 10px;
}

.dropdown {
    position:relative;
    flex-grow: 1;
    text-align: center;
    border-radius: 4px;
    padding: 0.5rem clamp(0.5rem, 0.154rem + 1.538vw, 2rem);
    font-size: 0.875rem;
    border-color: rgb(204, 204, 204);
    border-style: solid;
    border-radius: 6px;
    font-weight: 600;
}

.dropdown option {
    text-align: start;
}

.cards {
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
}

